@model MyProject_Website.Models.TriangleCalculator

@Scripts.Render("~/bundles/jqueryval")


    <div id="result">Side A: @Html.DisplayFor(x => x.sideA)</div>
    <div id="result">Side B: @Html.DisplayFor(x => x.sideB)</div>
    <div id="result">Side C: @Html.DisplayFor(x => x.sideC)</div>
    <div id="result">Angle A: @Html.DisplayFor(x => x.angleA)</div>
    <div id="result">Angle B: @Html.DisplayFor(x => x.angleB)</div>
    <div id="result">Angle C: @Html.DisplayFor(x => x.angleC)</div>

