@model MyProject_Website.Models.TriangleCalculator

<div id="result">
    <div>Side A: <font color="green"> @Html.DisplayFor(x => x.sideA)</font></div>
    <div>Side B: <font color="green"> @Html.DisplayFor(x => x.sideB)</font></div>
    <div>Side C: <font color="green"> @Html.DisplayFor(x => x.sideC)</font></div>
    <div>Angle A: <font color="green">  @Html.DisplayFor(x => x.angleA)°</font></div>
    <div>Angle B: <font color="green">  @Html.DisplayFor(x => x.angleB)°</font></div>
    <div>Angle C: <font color="green">  @Html.DisplayFor(x => x.angleC)°</font></div>
</div>